@import "../config/colors.css";

.bomb {
    background-color: var(--medium_purple);
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid transparent;
    margin: 2px 2px;
    color: white;
}

.easy {
    width: 34px;
    height: 34px;
}

.hard {
    width: 18px;
    height: 18px;
}

.hidden {
    background-color: var(--regular_purple);
}
.hidden:hover {
    background-color: var(--medium_purple);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shown-number {
    background-color: var(--bright_purple);
}

.shown-zero {
    background-color: var(--dark_purple);
}

@media only screen and (max-width: 480px) {
    .easy {
        width: 25px;
        height: 25px;
    }

    .hard {
        width: 12px;
        height: 12px;
    }
}

